body {
  padding: 10px;
}

#chart-container {
  background-color: antiquewhite;
}

.bar {
  fill: rgb(87, 142, 206);
  padding: 1px;
}

.bar:hover {
  fill: rgb(209, 213, 216);
}

#tooltip {
  position: absolute;
}
